@import '../Vars.scss';

.cover {
  height: 200px;
  width: auto;
  display: flex;
  align-items: center;
  margin: 60px 0 20px 0;
  overflow: hidden;
  // background-image: url('../../static/sport-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.league-cover {
  justify-content: center;
}
.cover--image {
  width: 280px;
  margin-left: 60px;
  object-fit: contain;
  transform: rotate(345deg);
}
.image--cover {
  width: 80%;
}
.join-league {
  padding: 20px 60px;
  text-align: center;
}
.join-league__message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-league__message--title {
  color: $white;
}
.join-league__message--text {
  font-family: $roboto-font;
  font-size: $normal-desk;
  color: $white;
}
.player-coach__container {
  padding: 0;
  padding-bottom: 60px;
}
.profile {
  height: 95vh;
}
.actor {
  padding: 60px;
}
.actor__container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.actor__container--image {
  width: 150px;
  height: 150px;
  margin-right: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.actor__container p {
  font-family: $rubik-font;
  font-size: $normal-desk;
  color: $white;
}
.actor__info--name {
  color: $white;
}
.actor__info-about {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.actor__info-about p {
  margin: 4px 40px 4px 0;
}

.actors {
  width: auto;
  margin: 40px 60px;
}
.actors__container--title {
  color: $white;
}
.more-actors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media only screen and (max-width: 836px) {
  .join-league {
    padding: 20px;
    text-align: center;
  }
  .join-league__message--text {
    font-size: $normal-mob;
  }
  .cover {
    justify-content: center;
  }
  .cover--image {
    margin-left: 0;
  }
  .actor {
    padding: 20px;
  }
  .actor__container {
    justify-content: center;
  }
  .actor__container--image {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .actor__info {
    text-align: center;
  }
  .actor__info-about p {
    margin-right: 0;
  }
  .actors__container--title {
    text-align: center;
  }
}
