@import '../Vars.scss';

.admin__card,
.actor__card {
  width: auto;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.admin__card {
  margin-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.admin__card--image,
.actor__card--image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 50%;
}
.admin__card--image {
  margin-right: 0;
  margin-bottom: 16px;
}
.admin__card-info,
.actor__card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.admin__card-info--name,
.actor__card-info--name {
  text-align: center;
  color: $white-100;
}
.admin__card--position,
.actor__card--position {
  font-family: $inter-font;
  font-size: $normal-desk;
  color: $white-100;
}

@media only screen and (max-width: 836px) {
  .admin__card,
  .actor__card {
    flex-direction: column;
  }
  .admin__card--image,
  .actor__card--image {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .admin__card-info,
  .actor__card-info {
    text-align: center;
  }
}
