@import '../Vars.scss';

.article__card {
  width: 100%;
  height: fit-content;
}

.article__card-info {
  // padding: 16px;
}

.article__card--img {
  height: 240px;
  width: inherit;
  object-fit: cover;
}

.article__card--title {
  font-family: $roboto-font;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: $white-100;
}

.article__card-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 12px;
  font-family: $inter-font;
  font-size: 1.6rem;
  color: $gray-dark;
}

.card__about {
  display: flex;
  column-gap: 8px;
  font-size: 1.4rem;
  color: $white-300;
}

.card--category {
  font-family: $roboto-font;
  font-weight: bold;
  letter-spacing: 5%;
  text-transform: uppercase;
}

@media only screen and (max-width: 1340px) {
  .article__card {
    display: flex;
    align-items: center;
  }

  .article__card--image {
    width: 50%;
  }

  .article__card-info {
    padding: 20px;
  }
}

@media only screen and (max-width: 836px) {
  .article__card {
    display: block;
  }

  .article__card--image {
    height: 200px;
    width: 100%;
  }

  .article__card--info {
    font-size: $normal-mob;
  }

  .card--category {
    font-size: $normal-mob;
  }
}