@import '../Vars.scss';

.article__container {
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
}

.article {
  width: 75%;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
}

.article--title {
  color: $white-100;
  text-transform: uppercase;
}

.article__cover {
  height: 100%;
  min-height: 300px;
  max-height: 560px;
  width: 100%;
  padding-bottom: 16px;
}

.article__cover--image {
  height: 100%;
  width: 100%;
  min-width: 220px;
  object-fit: cover;
}

.article__info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  font-family: $inter-font;
  font-size: $normal-desk;
  color: $white-100;
  opacity: 50%;
}

.article__info--author {
  font-family: $roboto-font;
  font-weight: bold;
  text-transform: uppercase;
}

.article--line {
  width: 20%;
  border: none;
  border-bottom: 4px solid $green-light;
  border-bottom-right-radius: 5px;
}

.article--description {
  font-family: $inter-font;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $white-100;
}

.article__share {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.article__share p {
  font-family: $inter-font;
  font-size: $secondary-mob;
  font-weight: bold;
  color: $white-100;
}

.article__icons {
  display: flex;
  column-gap: 16px;
}

.article__icons a {
  cursor: pointer;
}

.share-icon {
  width: 28px;
}

.more-articles {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.more-articles--title {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: $white-400;
}

@media only screen and (max-width: 1340px) {
  .article__container {
    flex-direction: column;
    row-gap: 24px;
  }

  .article {
    width: 100%;
    padding: 0;
  }

  .article__cover {
    height: 300px;
  }

  .article__cover--image {
    max-height: 100%;
  }

  .more-articles {
    width: 100%;
  }
}

@media only screen and (max-width: 836px) {
  .article__container {
    padding: 20px;
  }
}