@import '../Vars.scss';

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.button {
  height: max-content;
  width: max-content;
  display: block;
  padding: 8px 28px;
  border: none;
  border-radius: 4px;
  font-family: $roboto-font;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.primary-button {
  transition: 0.3s;
  color: $green-dark;
  background-color: $green-light;
}

.primary-button:hover {
  color: $green-light;
  background-color: $green-dark;
}

.secondary-button {
  transition: 0.3s;
  color: $gray-dark;
  background-color: $white-400;
}

.secondary-button:hover {
  color: $white-400;
  background-color: $gray-dark;
}

.danger-button {
  transition: 0.3s;
  color: $red-dark;
  background-color: $red-light;
}

.danger-button:hover {
  color: $red-light;
  background-color: $red-dark;
}