@import '../Vars.scss';

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.button {
  height: 40px;
  width: max-content;
  display: block;
  margin-top: 16px;
  margin-right: 16px;
  padding: 8px 24px;
  border: none;
  border-radius: 20px;
  font-family: $inter-font;
  font-size: $normal-desk;
  font-weight: bold;
  color: $white-100;
  cursor: pointer;
  outline: none;
}
.yellow-button {
  background-color: $green-light;
}
.red-button {
  background-color: $red-light;
}
.gray-button {
  background-color: $gray-light;
}

@media only screen and (max-width: 836px) {
  .button {
    height: 32px;
    font-size: $normal-mob;
  }
}
