@import '../Vars.scss';

.card {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.card--image {
  height: inherit;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  object-fit: cover;
}

.card__info-container {
  height: auto;
  width: auto;
  padding: 40px;
}

.card--link {
  display: inline-block;
  color: $green-light;
}

.card__info--title {
  font-family: $roboto-font;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: $white-100;
}

.card__meta-info {
  display: flex;
  font-family: $inter-font;
  font-size: 1.4rem;
  color: $white-300;
}

.card__meta-info p {
  padding-right: 8px;
}

.card__meta-info--category {
  font-family: $roboto-font;
  font-weight: bold;
  text-transform: uppercase;
}

.card--description {
  padding: 14px 0;
  font-family: $inter-font;
  font-size: 1.6rem;
  color: $white-400;
}

@media only screen and (max-width: 1340px) {
  .card {
    height: 260px;
  }

  .card--image {
    max-width: none;
  }

  .card__info-container {
    padding: 20px;
  }
}

@media only screen and (max-width: 836px) {
  .card {
    display: inline-block;
    height: auto;
  }

  .card--image {
    height: 200px;
  }

  .card__info-container {
    padding: 20px 0;
  }
}