@import '../Vars.scss';

.entity a:focus {
  outline: none;
}
.entity--image {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.entity--name {
  font-family: $roboto-font;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: $white-100;
}
