@import '../Vars.scss';

.entities {
  padding: 0 60px;
}

.entities__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entities--title {
  color: $white-400;
  text-transform: uppercase;
}

@media only screen and (max-width: 836px) {
  .entities {
    padding: 20px;
  }
}