@import '../Vars.scss';

// H E A D E R
header {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $green-midnight;
}

.header__main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 52px;
}

.header__logo {
  height: 56px;

  img {
    height: inherit;
  }
}


.header__menu {
  height: 100%;
}

// Header burger menu
.header--burger-menu {
  display: none;
}

// Header nav
.nav {
  display: block;
  padding-right: 52px;
}

.nav__list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 40px;
  list-style: none;
}

.admin-nav {
  display: none;
  height: auto;
  width: auto;
  position: absolute;
  top: 10vh;
  right: 1px;
  margin-right: 60px;
  padding: 20px;
  border-radius: 8px;
  background-color: $white-100;
  z-index: 1;
}

.nav__list--item a {
  margin: 10px 0;
  color: $black;
  text-align: end;
}


.nav__list--item a {
  width: max-content;
  display: inline-block;
  font-family: $roboto-font;
  font-size: $normal-desk;
  font-weight: bold;
  text-transform: uppercase;
  color: $white-400;
  outline: none;
}

.nav__list--item a:hover {
  transition: 0.3s;
  color: $green-light;
}

.nav__list--image a {
  width: 44px;
  height: 44px;
  display: grid;
  place-content: center;
  border-radius: 1000px;
}

.nav__list--image a img,
.nav__list--item a svg {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
}

.nav__list--item a svg {
  fill: $white-100;
}

.nav__list--item a svg:hover {
  cursor: pointer;
  transition: 0.3s;
  fill: $green-light;
}

.nav__list--image a:hover {
  cursor: pointer;
  transition: 0.1s;
  border: 2px $green-light solid;
}

@media only screen and (max-width: 836px) {
  header {
    flex-direction: column;
  }

  .nav {
    min-width: 100vw;
    padding: 20px 52px;
    background-color: $gray-dark;
    border-top: 1px $gray-light solid;
    border-bottom: 1px $gray-light solid;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    text-align: center;
  }

  .admin-nav {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    position: initial;
    margin-right: initial;
    padding: initial;
    background-color: initial;

    .nav__list--item a {
      color: $white-400;

      :hover {
        color: $green-light;
      }
    }
  }

  .nav__list--item a:hover {
    color: $green-light;
  }

  .nav__list--image {
    display: none;
  }

  .header--burger-menu {
    display: initial;
    cursor: pointer;
  }

  .header--burger-menu img {
    width: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .header__main {
    padding: 20px;
  }
}