@import '../Vars.scss';

// H E A D E R
header {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background-color: $green-midnight;
}

// Header logo
.header--logo {
  height: 10vh;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
.header--logo img {
  height: inherit;
  object-fit: contain;
}

.header__menu {
  height: 10vh;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
}

// Header burger menu
.header--burger-menu {
  display: none;
}

// Header nav
.nav {
  display: block;
}
.header__nav-list {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  list-style: none;
}
.header__nav-admin {
  height: auto;
  width: auto;
  position: absolute;
  top: 10vh;
  right: 1px;
  margin-right: 60px;
  padding: 20px;
  border-radius: 12px;
  background-color: $white-100;
  box-shadow: -6px 14px 12px 3px rgba($color: $black, $alpha: 0.5);
  z-index: 1;
}
.admin-nav {
  display: none;
}
.header__nav-admin li a {
  margin: 10px 0;
  color: $black;
  text-align: end;
}
.user-list {
  padding-right: 0;
}
.header__nav-list--admin a,
.header__nav-list--item a {
  margin: 0 20px;
  font-family: $inter-font;
  font-size: $normal-desk;
  font-weight: bold;
  color: $white-100;
  outline: none;
}
.header__nav-list--item a:hover {
  transition: 0.3s;
  color: $green-light;
}
.header__nav-list--item a:last-child {
  width: 100%;
  display: inline-block;
}
.header__nav-list--image {
  display: block;
}
.header__nav-list--admin a img,
.header__nav-list--item a img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.header__nav-list--item a img:hover {
  transition: 0.3s;
  filter: invert(42%) sepia(100%) saturate(436%) hue-rotate(357deg)
    brightness(101%) contrast(112%);
}
.header__nav-list--admin a img:hover {
  transition: 0.3s;
  border: 3px $green-light solid;
}

@media only screen and (max-width: 836px) {
  .header__nav {
    height: auto;
    width: auto;
    position: absolute;
    top: 10vh;
    padding: 20px;
    border-radius: 12px;
    background-color: $white-100;
    box-shadow: -6px 14px 12px 3px rgba($color: $black, $alpha: 0.5);
    z-index: 1;
  }
  .nav {
    display: none;
  }
  .header__nav-list {
    display: initial;
    text-align: end;
  }
  .header__nav-admin {
    display: block;
    position: initial;
    top: initial;
    right: initial;
    margin-right: initial;
    padding: initial;
    border-radius: initial;
    background-color: initial;
    box-shadow: initial;
    z-index: initial;
  }
  .header__nav-admin li a {
    margin: initial;
  }
  .user-list {
    padding-right: 20px;
  }
  .header__nav-list--item {
    margin: 20px 0;
  }
  .header__nav-list--item a {
    color: $black;
  }
  .header__nav-list--image {
    display: none;
  }
  .header--burger-menu {
    height: 10vh;
    display: initial;
    cursor: pointer;
  }
  .header--burger-menu img {
    height: 10vh;
    width: 30px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    padding: 0 20px;
  }
  .header__nav {
    min-width: 100vw;
    right: 0;
  }
  .header__nav-admin li a,
  .header__nav-list {
    text-align: center;
  }
  .user-list {
    padding-right: 32px;
  }
}
