@import '../Vars.scss';

.slider__container {
  padding: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider__carousel {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slider--hide-overflow {
  width: 100%;
  overflow: hidden;
}
.slider {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $white;
  overflow: hidden;
}
.slider__sidebar {
  position: absolute;
  height: 100%;
  width: 50%;
  padding: 20px;
  background-color: rgba(9, 0, 48, 0.7);
  z-index: 1;
}
.slider__sidebar--title {
  color: $white;
  white-space: normal;
}
.slider__sidebar--line {
  width: 35%;
  border-bottom: 4px solid $white;
  color: $white;
}
.slider__sidebar--summary {
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: $roboto-font;
  font-size: $normal-desk;
  color: $white;
  white-space: normal;
}
.slider__image {
  position: absolute;
  width: inherit;
  height: inherit;
}
.slider__image--img {
  width: inherit;
}
.leagues--title {
  color: $white;
}
.news-tournaments {
  display: flex;
  padding: 0 60px;
  padding-bottom: 100px;
}
.news {
  width: 80%;
  margin-top: 60px;
  padding-right: 60px;
}
.news--title {
  color: $white;
}
.tournaments {
  width: 20%;
  margin-top: 60px;
}
.tournaments--title {
  color: $white;
}

@media only screen and (max-width: 1340px) {
  .slider__sidebar {
    width: 50%;
  }
  .news-tournaments {
    display: block;
  }
  .news {
    width: 100%;
    padding-right: 0;
  }
  .tournaments {
    width: 100%;
  }
}

@media only screen and (max-width: 836px) {
  .slider__container {
    padding: 20px 0;
  }
  .slider {
    height: 300px;
  }
  .slider__sidebar {
    width: 100%;
    background-color: rgba(9, 0, 48, 0.45);
  }
  .slider__sidebar--title {
    font-size: 3rem;
  }
  .slider__sidebar--summary {
    font-size: $normal-mob;
  }
  .news-tournaments {
    padding: 0 20px;
  }
}
