@import '../Vars.scss';

.slider__container {
  padding: 0;
  margin-bottom: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider__carousel {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slider--hide-overflow {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $green-midnight;
  overflow: hidden;
}

.slider__sidebar {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  padding: 20px;
  background-color: rgba(15, 71, 0, 0.7);
  z-index: 1;
}

.slider__sidebar--title {
  width: 100%;
  font-size: 6rem;
  text-transform: uppercase;
  color: $white-100;
  white-space: normal;
}

.slider__sidebar--line {
  width: 35%;
  border: none;
  border-bottom: 4px solid $green-light;
  border-bottom-right-radius: 5px;
}

.slider__sidebar--summary {
  font-family: $inter-font;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $white-200;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  /* number of lines to show */
  line-clamp: 10;
  -webkit-box-orient: vertical;
}

.slider__image {
  position: absolute;
  width: inherit;
  height: inherit;
}

.slider__image--img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.leagues--title {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  color: $white-400;
}

.news-tournaments {
  display: flex;
  padding: 0 60px;
  padding-bottom: 100px;
}

.news--title,
.tournaments--title {
  font-size: 3rem;
  text-transform: uppercase;
  color: $white-400;
}

.news {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 80%;
}

.tournaments {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 20%;
}

@media only screen and (max-width: 1340px) {
  .slider__sidebar {
    width: 50%;
  }

  .slider__sidebar--title {
    font-size: 4rem;
  }

  .news-tournaments {
    flex-direction: column;
    row-gap: 24px;
  }

  .news {
    width: 100%;
    padding-right: 0;
  }

  .tournaments {
    width: 100%;
  }
}

@media only screen and (max-width: 836px) {
  .slider__container {
    padding: 20px 0;
  }

  .slider {
    height: 300px;
  }

  .slider__sidebar {
    width: 100%;
    background-color: rgba(15, 71, 0, 0.45);
    row-gap: 12px;
  }

  .slider__sidebar--title {
    font-size: 3.5rem;
  }

  .slider__sidebar--summary {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .news-tournaments {
    padding: 0 20px;
  }
}