@import '../Vars.scss';

.error-main {
  display: flex;
  row-gap: 4px;
  align-items: center;
  flex-direction: column;
}

.error__container {
  display: flex;
  column-gap: 20px;
}

.error__container--four {
  font-family: $inter-font;
  font-size: 25rem;
  font-weight: 900;
  color: $white-100;
}

.error__container--baseball {
  width: 200px;
}

.error--message {
  font-family: $roboto-font;
  font-size: $primary-desk;
  font-weight: bold;
  text-align: center;
  color: $white-100;
}

.error--sub-message {
  font-family: $inter-font;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: $white-300;
}

@media only screen and (max-width: 836px) {
  .error__container--four {
    font-size: 10rem;
  }

  .error__container--baseball {
    width: 80px;
  }

  .error--message {
    font-size: $primary-mob;
  }
}