@import '../Vars.scss';

.club-teams {
  padding-top: 20px;
}

.club__main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  align-items: center;
}

.club--image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.club__main-info {
  display: flex;
  row-gap: 12px;
  flex-direction: column;
}

.club--title {
  text-transform: uppercase;
  color: $white-100;
}

.club__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.club__info p {
  margin: 12px 0;
  font-family: $inter-font;
  font-size: $normal-desk;
  color: $white-400;
}

.club__info p strong {
  color: $white-100;
}

.teams--title {
  text-transform: uppercase;
  color: $white-400;
}

.no-teams {
  text-align: center;
  text-transform: uppercase;
  color: $white-100;
}

@media only screen and (max-width: 836px) {
  .club-teams {
    padding: 20px;
  }

  .club__main {
    justify-content: center;
    text-align: center;
  }

  .club--image {
    margin: 0;
  }

  .club__info {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}