@import '../Vars.scss';

.login {
  width: 100%;
  display: flex;
  row-gap: 20px;
  align-items: center;
  flex-direction: column;
}

.login__greet {
  display: flex;
  row-gap: 20px;
  align-items: center;
  flex-direction: column;
}

.login__greet--title {
  font-family: $inter-font;
  font-size: 4rem;
  color: $white-100;
}

.login__greet--message {
  font-family: $inter-font;
  font-size: 1.8rem;
  color: $white-100;
}

.login__form {
  width: 100%;
  max-width: 352px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.login__form--name,
.login__form--email,
.login__form--password {
  display: flex;
  align-items: center;
}

.login__form-extras {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__remember {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 8px;
}

/* Creating a custom checkbox */
.login--checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: rgba(103, 103, 103, 0.2);
  cursor: pointer;
}

/* Specify the background color to be shown when checkbox is checked */
.login__remember input:checked~.login--checkbox {
  background-color: $green-light;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.login--checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.login__remember input:checked~.login--checkbox:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
  showing only two border to make it look
  like a tickmark */
.login__remember .login--checkbox:after {
  left: 7px;
  bottom: 5px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login__remember--checkbox[type=checkbox] {
  visibility: hidden;
}

.login__remember--text {
  margin-left: 4px;
  font-family: $inter-font;
  font-size: 1.6rem;
  color: $white-400;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login--forgot-password {
  font-family: $inter-font;
  font-size: 1.6rem;
  color: $green-light;
}

.form--input-text {
  width: 100%;
  max-width: 800px;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-family: $inter-font;
  font-size: 1.6rem;
  color: $white-100;
  background-color: rgba(103, 103, 103, 0.2);
}

.form--input-text:focus {
  outline: none;
}

.login__form--button {
  width: 100%;
  max-width: 600px;
  padding: 8px 24px;
  border: none;
  border-radius: 5px;
  font-family: $roboto-font;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;
  background-color: $green-light;
  color: $green-dark;
  cursor: pointer;
  outline: none;

  a {
    color: $green-dark;
  }
}

.login__form--button:hover {
  transition: 0.3s;
  color: $green-light;
  background-color: $green-dark;

  a {
    transition: 0.3s;
    color: $green-light;
  }
}

@media only screen and (max-width: 836px) {
  .login {
    padding: 100px 20px 152px 20px;
  }
}