@import '../Vars.scss';

.more-actors__card {
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}

.more-actors__card--image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  object-fit: contain;
}

.more-actors__card--name {
  font-size: 2.4rem;
  text-align: center;
  color: $white-100;
}