@import './Vars.scss';

// G L O B A L
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $green-midnight;
}
main {
  width: auto;
  padding: 20px 60px 90px 60px;
}
h1 {
  font-family: $roboto-font;
  font-size: $primary-desk;
}
h2 {
  font-family: $roboto-font;
  font-size: $secondary-desk;
}
h3 {
  font-family: $roboto-font;
  font-size: $secondary-mob;
}
a {
  text-decoration: none;
}
.App {
  position: relative;
}

@import './components/Button.scss';

@media only screen and (max-width: 836px) {
  main {
    padding: 0 20px 50px 20px;
  }
  h1 {
    font-size: $primary-mob;
  }
  h2 {
    font-size: $secondary-mob;
  }
}
