@import './Vars.scss';

// G L O B A L
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
main {
  width: auto;
}
h1 {
  padding-bottom: 14px;
  font-family: $rubik-font;
  font-size: $big-des;
}
h2 {
  padding-bottom: 14px;
  font-family: $rubik-font;
  font-size: $medium-des;
}
h3 {
  padding-bottom: 14px;
  font-family: $rubik-font;
  font-size: 2rem;
}
a {
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: end;
  margin-top: 28px;
}
.button {
  height: 40px;
  width: fit-content;
  margin-left: 12px;
  padding: 0 24px;
  border: none;
  border-radius: 20px;
  font-family: $rubik-font;
  font-size: $normal-des;
  font-weight: bold;
  color: $white;
  cursor: pointer;
  outline: none;
}
.yellow-button {
  background-color: $yellow;
}
.red-button {
  background-color: $red;
}
.gray-button {
  background-color: $gray;
}
