@import './Vars.scss';

// G L O B A L
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $midnight;
}
main {
  width: auto;
}
h1 {
  padding-bottom: 16px;
  font-family: $rubik-font;
  font-size: $big-des;
}
h2 {
  padding-bottom: 16px;
  font-family: $rubik-font;
  font-size: $medium-des;
}
h3 {
  padding-bottom: 16px;
  font-family: $rubik-font;
  font-size: 2rem;
}
a {
  text-decoration: none;
}
