@import './Vars.scss';

// G L O B A L
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $midnight;
}
main {
  width: auto;
}
h1 {
  padding-bottom: 16px;
  font-family: $rubik-font;
  font-size: $primary-desk;
}
h2 {
  padding-bottom: 16px;
  font-family: $rubik-font;
  font-size: $secondary-desk;
}
h3 {
  padding-bottom: 16px;
  font-family: $rubik-font;
  font-size: $secondary-mob;
}
a {
  text-decoration: none;
}

@media only screen and (max-width: 836px) {
  h1 {
    font-size: $primary-mob;
  }
  h2 {
    font-size: $secondary-mob;
  }
}
