@import '../Vars.scss';

.actor__card {
  width: auto;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.actor__card--image {
  width: 150px;
  padding-right: 20px;
  filter: invert(42%) sepia(100%) saturate(436%) hue-rotate(357deg)
    brightness(101%) contrast(112%);
}
.actor__card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.actor__card-info--name {
  text-align: center;
  color: $white;
}
.actor__card--position {
  font-family: $rubik-font;
  font-size: $normal-desk;
  color: $white;
}

@media only screen and (max-width: 836px) {
  .actor__card {
    flex-direction: column;
  }
  .actor__card--image {
    padding-right: 0;
    padding-bottom: 20px;
  }
  .actor__card-info {
    text-align: center;
  }
}