@import './Vars.scss';

// G L O B A L
@font-face {
  font-family: Roboto;
  //! src: url(); pending...
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
main {
  width: auto;
}
h1 {
  padding-bottom: 14px;
  font-family: 'Rubik';
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  padding-bottom: 14px;
  font-family: 'Rubik';
  padding-bottom: 14px;
  font-family: 'Rubik';
  font-size: 2.6rem;
}
h3 {
  padding-bottom: 14px;
  font-family: 'Rubik';
  font-size: 2rem;
}
a {
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: end;
  margin-top: 28px;
}
.button {
  height: 40px;
  width: fit-content;
  margin-left: 12px;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-family: 'Rubik';
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  outline: none;
}
.yellow-button {
  background-color: #ffb700;
}
.red-button {
  background-color: #fa0000;
}
.gray-button {
  background-color: #676767;
}
