@import '../Vars.scss';

.more-articles__card {
  height: fit-content;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: $white;
}
.more-articles__card-info {
  padding: 16px;
}
.more-articles__card--image {
  height: 240px;
  width: inherit;
  border-radius: 12px;
  object-fit: cover;
}
.more-articles__card--title {
  padding-bottom: 16px;
  font-family: $rubik-font;
  font-size: $normal-desk;
  text-transform: uppercase;
}
.more-articles__card--info {
  display: flex;
  flex-wrap: wrap;
  font-family: $roboto-font;
  font-size: $normal-desk;
  color: $gray;
}
.card__about p {
  padding-right: 8px;
}
.card--category {
  font-family: $roboto-font;
  font-size: $normal-desk;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $gray;
}

@media only screen and (max-width: 1340px) {
  .more-articles__card {
    display: flex;
    align-items: center;
  }
  .more-articles__card--image {
    width: 50%;
  }
  .more-articles__card-info {
    padding: 20px;
  }
}

@media only screen and (max-width: 836px) {
  .more-articles__card {
    display: block;
  }
  .more-articles__card--image {
    height: 200px;
    width: 100%;
  }
  .more-articles__card--info {
    font-size: $normal-mob;
  }
  .card--category {
    font-size: $normal-mob;
  }
}
