@import '../Vars.scss';

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.button {
  display: block;
  height: 40px;
  width: fit-content;
  margin-top: 16px;
  margin-right: 16px;
  padding: 8px 24px;
  border: none;
  border-radius: 20px;
  font-family: $rubik-font;
  font-size: $normal-des;
  font-weight: bold;
  color: $white;
  cursor: pointer;
  outline: none;
}
.yellow-button {
  background-color: $yellow;
}
.red-button {
  background-color: $red;
}
.gray-button {
  background-color: $gray;
}

@media only screen and (max-width: 1340px) {
  .button {
    height: 32px;
    font-size: $normal-mob;
  }
}

@media only screen and (max-width: 834px) {
  .button-container {
    justify-content: center;
  }
  .button {
    margin-right: 0;
  }
}
