@import '../Vars.scss';

#feedback-message,
.feedback-message {
  height: 100vh;
  width: 100vw;
  display: grid;
  position: fixed;
  place-content: center;
  background-color: rgba($color: $black, $alpha: 0.5);
  z-index: 1;
  top: 0;
}
.feedback-message__container {
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: column;
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  background-color: $white;
}
.feedback-message__container--title {
  font-family: $rubik-font;
  font-size: $primary-desk;
}
.feedback-message__container--text {
  margin: 12px 0;
  font-family: $roboto-font;
  font-size: $normal-desk;
  color: $gray;
}
.buttons__container {
  display: flex;
}

@media only screen and (max-width: 660px) {
  .feedback-message__container {
    padding: 20px;
  }
  .feedback-message__container--title {
    font-size: 2rem;
  }
  .feedback-message__container--text {
    font-size: $normal-mob;
  }
  .buttons__container {
    align-items: center;
    flex-direction: column;
  }
}
