@import '../Vars.scss';

// H E A D E R
header {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background-color: $midnight;
}

// Header logo
.header--logo {
  height: 10vh;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
.header--logo img {
  height: inherit;
  object-fit: contain;
}

.header__menu {
  height: 10vh;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
}

// Header burger menu
.header--burger-menu {
  display: none;
}

// Header nav
.header__nav-list {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  list-style: none;
}
.header__nav-list--item a {
  margin: 0 20px;
  font-family: $rubik-font;
  font-size: $normal-desk;
  font-weight: bold;
  color: $white;
}
.header__nav-list--item a:hover {
  transition: 0.3s;
  color: $yellow;
}
.header__nav-list--item a:last-child {
  width: 100%;
  display: inline-block;
}
.header__nav-list--item a img {
  width: 40px;
}
.header__nav-list--item a img:hover {
  transition: 0.3s;
  filter: invert(42%) sepia(100%) saturate(436%) hue-rotate(357deg)
    brightness(101%) contrast(112%);
}

@media only screen and (max-width: 836px) {
  .header__nav {
    height: auto;
    width: auto;
    display: none;
    position: absolute;
    top: 10vh;
    padding: 20px 40px;
    padding-left: 0;
    border-radius: 12px;
    background-color: $white;
    box-shadow: -6px 14px 12px 3px rgba($color: $black, $alpha: 0.5);
  }
  .header__nav-list {
    display: initial;
    text-align: end;
  }
  .header__nav-list--item {
    margin: 20px 0;
  }
  .header__nav-list--item a {
    color: $black;
  }
  .header__nav-list--item a img {
    filter: invert(100%) sepia(92%) saturate(3%) hue-rotate(318deg)
      brightness(103%) contrast(100%);
  }
  .header--burger-menu {
    height: 10vh;
    display: initial;
    cursor: pointer;
  }
  .header--burger-menu img {
    height: 10vh;
    width: 30px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    padding: 0 20px;
  }
  .header__nav {
    min-width: 100vw;
    right: 0;
  }
  .header__nav-list {
    text-align: center;
  }
}
