@import '../Vars.scss';

.more-actors__card {
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}
.more-actors__card--image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.more-actors__card--name {
  text-align: center;
  color: $white;
}
