@import '../Vars.scss';

.admins,
.team-players {
  padding: 60px;
}
.team__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.team--image {
  width: 200px;
  margin-right: 20px;
}
.team--title {
  color: $white;
}
.team__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}
.team__info p {
  margin: 12px 0;
  font-family: $rubik-font;
  font-size: $normal-des;
  color: $white;
}
.players-coach {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.actors {
  width: auto;
}
.actors--title {
  font-size: $medium-des;
  color: $white;
}
.actors__container {
  margin-top: 20px;
}

@media only screen and (max-width: 834px) {
  .admins,
  .team-players {
    padding: 20px;
  }
  .team__main {
    justify-content: center;
  }
  .team--image {
    margin: 0;
  }
  .team__info {
    justify-content: center;
    text-align: center;
  }
  .players-coach {
    flex-direction: column;
    justify-content: center;
  }
  .actors--title {
    text-align: center;
  }
}
