// V A R I A B L E S
$rubik-font: 'Rubik', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$white: #ffffff;
$black: #000000;
$yellow: #ffb700;
$red: #fa0000;
$green: #00b800;
$gray: #676767;
$big: 4rem;
$medium: 2.6rem;
$small: 1.8rem;